:root {
  --main-text-color: #cccccc;
  --second-text-color: #676c71;
  --incorrect-text-color: #ee9090;
  --incorrect-overwrite-text-color: #cc5e5e;
  --caret-color: #90ee90;
}

#fixtypo {
  display: none !important;
}
#typeblock #inputtext {
  z-index: 0;
  border: none !important;
  position: absolute;
  opacity: 0.2;
  caret-color: transparent;

  top: -70px;
}

#fontsize_cont {
  display: none;
}

#typingBlock {
  position: relative;
  z-index: 20;
}

#words {
  transition: filter 0.2s ease-in-out;
}

.word {
  display: inline-block;
  font-family: "Roboto Mono", "Tahoma";
  margin: 0 5px;
  font-size: 25px;
  user-select: none;
  cursor: default;
  color: var(--second-text-color);
}

#focusError {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

#focusError > b {
  font-size: 24px;
  user-select: none;
  cursor: default;
}

.letter.correct {
  color: var(--main-text-color);
}

.letter.incorrect {
  color: var(--incorrect-text-color);
}

.letter.incorrectOverwrite {
  color: var(--incorrect-overwrite-text-color);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#caret {
  background: var(--caret-color);
  width: 3px;
  border-radius: 0.5rem !important;
  height: 25px;
  position: fixed;
  animation: blink 0.5s infinite ease-in-out;
  transition: left 0.1s ease-in-out;
}
